*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    background-image: linear-gradient(navy,rgb(124, 76, 170));
    width: 100vw;
    height: 100vh;
    color: white;
}
footer{
    background-image: linear-gradient(rgb(0, 0, 0),rgb(69, 46, 201));
    width: 90vw;
    height: 15vh;
}
section{
    width: 100vw;
    height: 80vh;
    background-color: #bd4f6c;
background-image: linear-gradient(326deg, #bd4f6c 0%, #d7816a 74%);

}

h1,h2,h4{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    margin: 20px;
}
h1{
    font-size: 3rem ;
    text-align: center;
    color: white;
    transition: all 2s;
}
h1:hover{
    font-size: 3.2rem;
    color: lime;

}